.atto_cloze_col0 {
    float: left;
    width: 25%;
    padding-right: 2em;
}

.atto_cloze_answers {
    overflow: auto;
    height: 300px;
}

.atto_cloze_qtype {
    overflow: auto;
    position: relative;
}

.atto_cloze_qtype label {
}

.atto_cloze_qtype .atto_cloze_summary {
    display: none;
    position: absolute;
    top: 0px;
    left: 150px;
}

.atto_cloze_qtype input[type="radio"]:checked+label .atto_cloze_summary {
    display: inline;
}
