.atto_cloze img {
    cursor: pointer
}

.atto_cloze_button img {
    margin-top: -.125rem !important;
}

.atto_cloze .form-control {
    width: unset;
}

.atto_cloze_answers {
    height: 300px;
    overflow-x: hidden;
}

.atto_cloze_qtype {
    overflow: auto;
    position: relative;
}

.atto_cloze_qtype .atto_cloze_summary {
    display: none;
    left: 175px;
    position: absolute;
    top: 0;
}

.atto_cloze_qtype input[type="radio"]:focus {
    box-shadow: none;
}

.atto_cloze_qtype input[type="radio"]:checked + label .atto_cloze_summary {
    display: inline;
}

input.atto_cloze_marks {
    width: 4em !important;
}

.atto_cloze_answers li:first-child .atto_cloze_up {
    display: none;
}

.atto_cloze_answers li:last-child .atto_cloze_down {
    display: none;
}
